@page "/programs"
@attribute [Authorize(Roles = "SuperAdmin,Admin,Faculty")]

<PageTitle>Programs - University ERP</PageTitle>

<MudText Typo="Typo.h4" GutterBottom="true">Academic Programs</MudText>
<MudText Class="mb-4">Manage university programs, degrees, and curricula.</MudText>

<MudPaper Class="pa-4">
    <MudText Typo="Typo.h6">Coming Soon</MudText>
    <MudText>Full program management features will be available here including:</MudText>
    <ul>
        <li>Program catalog (BS, MS, MBA, PhD)</li>
        <li>Curriculum design and management</li>
        <li>Credit requirements</li>
        <li>Program accreditation tracking</li>
    </ul>
</MudPaper>
